table form {
  margin-bottom: 0;
  display: inline-block;
}

.center {
  text-align:center
}

.sidebar-nav {
  position: fixed;

  .alert {
    margin-bottom: 0;
  }
}
@media (max-width: 480px) {
  .sidebar-nav {
    position: static;
  }
}

