body {
  padding-bottom: 40px
}

.navbar {
  .navbar-text {
    padding: 0 15px;
  }
}

.thumbnail {
  .caption {
    height: 150px;
  }
  .well {
    margin-bottom: 0
  }
}

table form {
  margin-bottom: 0;
  display: inline-block;
}

.center {
  text-align:center
}

.right {
  text-align: right !important;
}

.sidebar-nav {
  position: fixed;

  .alert {
    margin-bottom: 0;
  }
}
@media (max-width: 480px) {
  .sidebar-nav {
    position: static;
  }
}

.navbar .nav li {
  .btn {
    color: white;
    border-radius: 0;
    margin: 0;
    border: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  }
  .btn:hover { color:white }
  .btn-mini {
    font-size: inherit;
    line-height: inherit
  }

  .btn-primary:hover { background-color: #04C; }
  .btn-info:hover { background-color: #2F96B4; }
  .btn-success:hover { background-color: #51A351; }
  .btn-warning:hover { background-color: #F89406; }
  .btn-danger:hover { background-color: #BD362F; }
  .btn-inverse:hover { background-color: #222; }
}

@media print {
  .navbar, .alert, .sidebar-nav, .actions, .nav { display: none }

  .span9 {
    width: 100%
  }
}
